.header{
    background: url("../../assetss/HomePage.jpeg") center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: 100%;
    height: 150%;
    overflow: hidden;
    padding: 25px 0px;
    margin-top: 0px;

}
.header .row{
    margin: 60px 0px;
}
.header h2{
    color: #6c1529 ;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    width: 80%;
}
.header p{
    color: #333;
    font-family: 'Merriweather', serif;
    margin: 15px 0px;

}
.header button{
    width: 140px;
    height: 40px;
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
.header button:last-of-type{
    background-color: #fff;
    color: #000;
}
.header button:hover{
    transition: 0.5s ease-in-out;
}
.header button:first-of-type:hover{
    background-color: #fff;
    color: #ac2947;
}
.header button:last-of-type:hover{
    background-color: #ac2947;
    color: #fff;
}