.header1{
    /* background: url("../../assetss/HomePage.jpeg") center no-repeat; */
    background-size: cover;
    width: 100%;
    text-align: 100%;
    height: auto;
    overflow: hidden;
    padding: 25px 0px;
    margin: 10px -30px;
    display: flex;
}
img{
    max-width: 100%

}
.image1{
    flex-basis: 40%
    
}
.header1 .row{
    margin: 60px 60px;
}
.header1 h2{
    color: #6c1529 ;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    width: 80%;
}
.header1 p{
    color: #333;
    font-family: 'Merriweather', serif;
    margin: 15px 0px;
}
.header1 button{
    width: 110px;
    height: 4   0px;
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}
.header1 button:last-of-type{
    background-color: #fff;
    color: #ac2947;
}
.header1 button:hover{
    transition: 0.5s ease-in-out;
}
.header1 button:first-of-type:hover{
    background-color: #fff;
    color: #ac2947;
}
.header1 button:last-of-type:hover{
    background-color: #7c0f28;
    color: #fff;
}